@media screen and (max-width: 559px) {
    /* Patricia */
    header {
        background-image: url("../assets/patricia/Rectangle60.png");
    }
    .banner-info {
        display: contents;
    }
    .banner-info h1 {
        width: 80%;
        text-align: center;
        margin: 50px auto;
    }
    .banner-info button {
        display: block;
        margin: 50px auto;
    }
    .banner-info p {
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }

    /* Vlad */


    /* Yulia */
    body {
        font-size: 16px;
    }


    /* Vlad */
    .footer {}

}