@media  screen and (min-width: 1700px) {
    body {
        font-size: 20px;
        line-height: 36px;
    }
    .text-banner-info-tittle {
        width: 42vw;
    }
    .text-banner-info {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: baseline;
          height: 40vh;
          width: 80%;
    }
    /*.banner-info {*/
    /*    height: 60vh;*/
    /*    width: 50vw;*/
    /*}*/
    .main-update_news {
        margin: 100px 0;
    }
    .update-news--cards {
        height: 80vh;
    }
    .card-info p {
        line-height: 40px;
    }
    .update-news--cards-container {
        display: flex;
        justify-content: space-between;
    }
    .footer-container {
        justify-content: space-evenly;
    }
    .footer-copyright {
        text-align: center;
        margin-left: 0;
    }
    .footer-centered-title {
        margin-left: 0;
    }
}